<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Signup</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

<div>
    <a href="..">Home</a>
    <a href="login">Login</a>
</div>

<h1>User Signup</h1>

<div>
    <label>Username</label>
    <br/>
    <input type="text" name = "username" id="username" placeholder="Username"/>
    <br/>

    <label>Password</label>
    <br/>
    <input type="password" name = "password" id="password" placeholder="Password"/>
    <br/>

    <label>Email</label>
    <br/>
    <input type="text" name = "email" id="email" placeholder="Email"/>
    <br/>

    <label>University</label>
    <br/>
    <input type="text" name = "university" id="university" placeholder="University"/>
    <br/>

    <label>Nickname</label>
    <br/>
    <input type="text" name = "nickname" id="nickname" placeholder="nickname"/>
    <br/>

    <button onclick="signup()">Signup</button>
</div>

<script>
    function signup() {

        let data = {
            username: $('#username').val(),
            password: $('#password').val(),
            email: $('#email').val(),
            university: $('#university').val(),
            nickname: $('#nickname').val()
        };

        $.ajax({
            url: "/api/user/signup",
            method: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            success: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            }
        });
    }
</script>

</body>
</html>