<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<th:block th:replace="~{/includes/admin/head}" />

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <th:block th:replace="~{/includes/admin/sidebar}" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topper -->
                <th:block th:replace="~{/includes/admin/topper}" />

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Role Detail</h1>
                    <p class="mb-4">Role Detail example</p>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="input_param input_required form-control" id="role_name" name="title"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Content</label>
                        <div class="col-sm-6">
                            <textarea class="input_param form-control" id="role_content" name="content"></textarea>
                        </div>
                    </div>

                    <div class="form-group row mt-6">
                        <div class="col-sm-8 offset-sm-8 text-end">
                            <button class="btn btn-info m-1" id="detail_role_btn" onclick="detail_role()">Load</button>
                            <button class="btn btn-primary m-1" id="update_role_btn" onclick="update_role()">Update</button>
                            <button class="btn btn-danger m-1" id="delete_role_btn" onclick="delete_role()">Delete</button>
                        </div>
                    </div>


                    <!-- Permission Table -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 nav nav-tabs" style="position: relative; height: 65px;">
                            <a class="nav-link active" style="position: absolute; bottom: 0; left: 20px;" data-toggle="tab" href="#tab-part">Permission</a>
                            <a class="nav-link"  style="position: absolute; bottom: 0; left: 135px;" data-toggle="tab" href="#tab-user">User</a>
                        </div>
                        <div class="tab-content card-body">
                            <div id="tab-part" class="tab-pane active">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Permission</th>
                                        <th>All</th>
                                        <th>Create</th>
                                        <th>Read</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="permission_list">
                                    </tbody>
                                </table>
                            </div>

                            <div id="tab-user" class="tab-pane">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>UserName</th>
                                        <th>Deleted</th>
                                        <th>Added By</th>
                                        <th>Added At</th>
                                        <th><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal" onclick="list_role_user()">Add</button></th>
                                    </tr>
                                    </thead>
                                    <tbody id="role_user_list">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <th:block th:replace="~{/includes/admin/footer}" />

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Add Modal-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Role Create</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                            <tr>
                                <th><input type="checkbox"/></th>
                                <th>#</th>
                                <th>UserName</th>
                            </tr>
                        </thead>
                        <tbody id = "add_role_user">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" id="add_role_user_btn" onclick="add_role_user()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <th:block th:replace="~{/includes/admin/logout}" />

    <!-- Script-->
    <th:block th:replace="~{/includes/admin/script}" />

    <!-- Function-->
    <script>
        let role_id = window.location.pathname.split("/").pop();

        let detail_permission = new Set();

        function detail_role() {
            $.ajax({
                url: "/api/role/detail",
                method: "GET",
                contentType: 'application/json; charset=utf-8',
                headers:{
                    "Authorization" : localStorage.getItem("Authorization")
                },
                data:{
                    id: Number(role_id)
                },
                success: (data, status, xhr)=>{
                    $("#update_role_btn").attr("href", "/admin/role/update/" + role_id);
                    $("#role_name").val(data["roleName"]);
                    $("#role_content").val(data["content"]);
                    $("#permission_list").html("");
                    $("#role_user_list").html("");

                    let permissions = data["permissions"];
                    for (let each of permissions) {
                        let tList = [];
                        let eachData = {};
                        eachData["permission"] = each[0];
                        eachData["title"] = each[1];
                        tList.push(eachData);
                        $("#permission_list").append(
                            "<tr>"
                            + "<td>" + each[1] + "</td>"
                            + "<td><input type=\"checkbox\" class=\'checkbox_" + each[0] + "\' id=\"" + each[0] + "_0\" /></td>"
                            + "<td><input type=\"checkbox\" class=\'checkbox_" + each[0] + "\' id=\"" + each[0] + "_120\" /></td>"
                            + "<td><input type=\"checkbox\" class=\'checkbox_" + each[0] + "\' id=\"" + each[0] + "_150\" /></td>"
                            + "<td><input type=\"checkbox\" class=\'checkbox_" + each[0] + "\' id=\"" + each[0] + "_180\" /></td>"
                            + "<td><input type=\"checkbox\" class=\'checkbox_" + each[0] + "\' id=\"" + each[0] + "_200\" /></td>"
                            + "</tr>"
                        );
                    }

                    let permissionList = data["permissionList"];
                    for (let each of permissionList) {
                        $("#" + each["permission"] + "_" + each["func"]).prop("checked", true);

                        const key = `${each["permission"]}_${each["func"]}`;
                        detail_permission.add(key);
                        $("#" + key).prop("checked", true);
                    }

                    let role_user = data["roleUserList"];
                    for (let each of role_user) {
                        $("#role_user_list").append(
                            "<tr>"
                            + "<td>" + each["userId"] + "</td>"
                            + "<td>" + each["username"] + "</td>"
                            + "<td>" + each["userDeleted"] + "</td>"
                            + "<td>" + each["addUserId"] + "</td>"
                            + "<td>" + each["addedAt"] + "</td>"
                            + "<td><button class=\"btn btn-danger btn-sm\"  onclick=\"delete_role_user()\">Delete</button></td>"
                            + "</tr>"
                        );
                    }
                },
                error: (data, status, xhr) => {
                    alert(JSON.stringify(data));
                }
            });
        }

        function update_role(){
            const update_permission = [];

            $("input[type='checkbox']").each(function () {
                const id = $(this).attr("id");
                const now_checked = $(this).prop("checked");
                const old_checked = detail_permission.has(id);

                if (now_checked !== old_checked) {
                    const [permission, func] = id.split("_");
                    update_permission.push({
                        active: now_checked,
                        roleId: Number(role_id),
                        permission: permission,
                        func: parseInt(func)
                    });
                }
            });

            const data = {
                id: Number(role_id),
                roleName: $('#role_name').val(),
                content: $('#role_content').val(),
                permissionUpdate: update_permission
            };

            $.ajax({
                url: "/api/role",
                method: "PUT",
                contentType: 'application/json; charset=utf-8',
                headers:{
                    "Authorization" : localStorage.getItem("Authorization")
                },
                data:JSON.stringify(data),
                success: (data, status, xhr)=>{
                    alert(JSON.stringify(status));
                },
                error: (data, status, xhr) => {
                    alert(JSON.stringify(data));
                }
            });
        }

        function delete_role(){
            $.ajax({
                url: "/api/role",
                method: "DELETE",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    "Authorization": localStorage.getItem("Authorization")
                },
                data: JSON.stringify({
                    id: Number(role_id)
                }),
                success: (data, status, xhr)=>{
                    alert(status);
                    location.href = "/admin/role/list";
                },
                error: (data, status, xhr)=>{
                    alert(JSON.stringify(data));
                }
            });
        }

        function list_role_user(){
            $.ajax({
                url: "/api/roleUser/userList",
                method: "GET",
                contentType: 'application/json; charset=utf-8',
                headers:{
                    "Authorization" : localStorage.getItem("Authorization")
                },
                data:{
                    roleId: Number(role_id)
                },
                success: (data, status, xhr)=>{
                    $("#add_role_user").html("");
                    for (let each of data) {
                        $("#add_role_user").append(
                            "<tr>"
                            + "<td><input type=\"checkbox\" class=\'checkbox_role_user\' id=\"" + each["userId"] + "\" /></td>"
                            + "<td>" + each["userId"] + "</td>"
                            + "<td>" + each["username"] + "</td>"
                            + "</tr>"
                        );
                    }
                },
                error: (data, status, xhr) => {
                    alert(JSON.stringify(data));
                }
            });
        }

        function add_role_user(){
            const add_role_user = [];

            $("input[type='checkbox'].checkbox_role_user").each(function () {
                const id = $(this).attr("id");
                const user_checked = $(this).prop("checked");

                if (user_checked) {
                    add_role_user.push({
                        roleId: Number(role_id),
                        userId: Number(id)
                    });
                }
            });

            const data = {
                addSevDtoList: add_role_user
            };

            $.ajax({
                url: "/api/roleUser/add",
                method: "POST",
                contentType: 'application/json; charset=utf-8',
                headers:{
                    "Authorization" : localStorage.getItem("Authorization")
                },
                data:JSON.stringify(data),
                success: (data, status, xhr)=>{
                    alert(JSON.stringify(status));
                },
                error: (data, status, xhr) => {
                    alert(JSON.stringify(data));
                }
            });
        }

    </script>

</body>

</html>